body {
  background: #fff;
  font-family: Cormorant, serif;
  font-size: 1.6rem;
  color: #312F37;
  overflow-x: hidden; }

.font--slab {
  font-family: 'Roboto Slab'; }

.font--chunky {
  font-family: Teko; }

.title {
  font-family: "Roboto Slab";
  font-size: 7rem;
  line-height: 1.1;
  text-align: center; }
  .title span {
    font-family: "Teko";
    font-weight: 700;
    font-size: 11rem;
    text-transform: uppercase; }

.btn-cta {
  font-size: 2rem; }

.bg-pattern {
  background-color: #E2FF0E;
  background-image: url("http://uxdesignbookclub.com/img/background-tile-01.png");
  background-size: 720px; }

.shape--square {
  display: block;
  height: 400px;
  opacity: 1;
  transform: rotate(45deg);
  width: 125px; }

.shape--left {
  left: -1rem; }

.shape--right {
  right: -1rem; }

.row {
  margin-left: 0;
  margin-right: 0; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

li {
  margin-bottom: 1rem; }

@media screen and (max-width: 991px) {
  .title {
    font-size: 4rem; }
    .title span {
      font-size: 6rem; } }

@media screen and (max-width: 531px) {
  .title {
    font-size: 3rem; }
    .title span {
      font-size: 4rem; }
  .btn-cta {
    font-size: 1.6rem; } }
